@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');        
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'montserrat', sans-serif;
        overflow-x: hidden;
        color: #fff;
    }
    #conteiner {
        background-color: #2e3141;
        position: relative;
        overflow: hidden;   
    }
    h2, h3, h4, h5 {
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    } 

/* nav */
    /*menu-amburgeza*/
     #menu, #menu-check {
        display: none;
     }   
     @media (max-width: 700px) {
        #menu-check:not(:checked) ~ ul {
            display: none;
        }
        #menu-check:checked ~ ul {
            display: block;
            padding: 30px;
            place-content: space-between;
        }
        #menu {
            display: block;
            color: #fff;
            font-size: 1.2em;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            padding: 10px;
        }
        #menu:hover {
            color: #fff;
        }
        #menu-cerrar {
            display: none;
        }
        #menu-check:checked ~ label #menu-abrir {
            display: none;
        }
        #menu-check:checked ~ label #menu-cerrar {
            display: block;
        }
        #menu #menu-abrir img {
            height: 30px;
            width: 30px;
        }
        #menu #menu-cerrar img {
            height: 30px;
            width: 30px;
        }        
     }

/*navbar*/
    #navbar {
        overflow: hidden;
        background-color: #191c32;
        color: #fff;
        position: fixed; 
        top: 0; 
        width: 100%;
        z-index: 1;
        display: flex;
    }
    #navbar #menu-nav a{
        display: flex;
        padding: 30px;
    }
    #menu-nav {
        display: flex;
        place-content: space-between;
    }
    #menu-nav li{
        list-style: none;
    }
    #menu-nav a{
        color: #fff;
        text-decoration: none;
    }
    #menu-nav .Inicio{
        color: #0000ff;
    }
    #menu-nav a:hover {
        color: #00ffea;
    }
    #navbar .logo {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: space-between;
    }
    
/* info-conten */
    #main {
        background-color: #3f4e85 ;
        height: 679px;
        width: 100em;
    }
    #main .info-content {
        height: 679px;
        width: 679px;   
    }
    #main .info-content h1 {
        color: #fff;
        padding: 200px 200px 10px;
        text-align: center;
    }
    #main .info-content .apeidos {
        color: #7fffd4;
    }
    #main .info-content p {
        color: #fff;
        height: 100px;
        left: 130px;
        position: relative;
        top: 50px;
        width: 500px;
    }
    #main .photo img {
        position: relative;
        top: -350px;
        left: 700px;
        width: 300px;
        height: 300px;
        border-radius: 10%;
        margin: 0 auto;
        display: block;
    }
    @media (max-width: 700px) {
        #main {
            background-color: #3f4e85 ;
            height: 739px;
        }
        #main .info-content {
            height: 739px;
            width: 700px;   
        }
        #main .info-content h1 {
            color: #fff;
            width: 371px;
            height: 200px;
            padding: 200px 0px 160px;
            text-align: center;
        }
        #main .info-content .apeidos {
            color: #7fffd4;
        }
        #main .info-content p {
            color: #fff;
            height: 57px;
            left: 50px;
            position: relative;
            top: 50px;
            width: 300px;
        }
        #main .photo img {
            display: none;
        }    
    }

 /*my portafolio*/ 
    #abount {
        background-color: #2e3141;   
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 85em;
    }
    #abount .my-portafolio {
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 55em;
    }
    #abount .my-portafolio h2 {
        font-size: 1em;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    #abount .parafo-de-descripción {
        color: #ffffff;
        width: 100%;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 200px;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }

    #conteiner .my-portafolio {
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 55em;
    }
    #features {
        flex-wrap: wrap;
        margin: 0 0 2em 0;
        display: flex;
    }
    #features article {
        padding: 1.75em 1.75em 0.1em 1.75em;
        background-color: #353849;
        border-radius: 10px 10px ;
        margin: 1.5em 3em 1.5em 0;
        width: calc(50% - 1.5em);
    }
    #features article:nth-child(2n) {
        margin-right: 0;
    } 
    #features article .image img {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 300px;
    }
    #features article .image {
        border-radius: 5px 5px 0 0;
        display: block;
        margin-bottom: 1.75em;
        margin-left: -1.75em;
        margin-top: -1.75em;
        position: relative;
        width: calc(100% + 3.5em);
    }
    @media (max-width: 700px) {
        #abount {   
            background-color: #2e3141;   
            padding: 3em 0 1em 0;
            margin: 0 auto;
            width: 50em; 
        }
        #abount .my-portafolio {
            width: calc(50% - 1em);
        }
        #abount .my-portafolio h2 {
            font-size: 1em;
            color: #ffffff;
            font-family: Raleway, Helvetica, sans-serif;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin: 0 0 1em 0;
            text-transform: uppercase;
        }
        #abount .parafo-de-descripción {
            color: #ffffff;
            width: 25%;
            font-family: Raleway, Helvetica, sans-serif;
            font-weight: 200px;
            margin: 0 0 1em 0;
            text-transform: uppercase;
        }
        #features p {
            color: #ffffff;
            width: 50%;
            font-family: Raleway, Helvetica, sans-serif;
            font-weight: 200px;
            margin: 0 0 1em 0;
            text-transform: uppercase;
        }
    
        #conteiner .my-portafolio {
            padding: 3em 0 1em 0;
            margin: 0 auto;
            width: 84em;
        }
        #features {
            flex-wrap: wrap;
            margin: 0 0 2em 0;
            display: flex;
        }
        #features article {
            padding: 1.75em 1.75em 0.1em 1.75em;
            border-radius: 10px 10px ;
            margin: 1.5em 3em 1em 0;
            width: calc(50% - 1em);
        }
        #features article:nth-child(2n) {
            margin-right: 0;
        } 
        #features article .image img {
            border-radius: 10px 10px 10px 10px;
            width: 53%;
            height: 200px;
        }
        #features article .image {
            border-radius: 5px 5px 0 0;
            display: block;
            margin-bottom: 1.75em;
            margin-left: -1.75em;
            margin-top: -1.75em;
            position: relative;
            width: calc(100% + 3.5em);
        }    
    }
/*footer*/
     #Contacto {
        widows: 100%;
        background-color: #0a141d;
     }
     #Contacto .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;  
     }
     #Contacto .grupo-1 .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     #Contacto .grupo-1 .box h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
     }
     #Contacto .grupo-1 .box p {
        color: #efefef;
        margin-bottom: 10px;
     }
     #Contacto .grupo-1 .redes-sociales a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
     }
     @media (max-width: 700px) {
        #Contacto .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;  
         }
     }