@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');        
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'montserrat', sans-serif;
        overflow-x: hidden;
        color: #fff;
    }
    #conteiner {
        background-color: #2e3141;
        position: relative;   
    }
    h2, h3, h4, h5 {
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    } 
    @media (max-width: 700px) {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'montserrat', sans-serif;
            overflow-x: hidden;
            color: #fff;
        }
        #conteiner {
            background-color: #301923;
            position: relative;   
        }
        h2, h3, h4, h5 {
            border-bottom: solid 2px rgba(255, 255, 255, 0.125);
        }      
    }
/* nav */
    /*menu-amburgeza*/

        @media (max-width: 700px) {                
            #menu-check:not(:checked) ~ #menu-nav {
                display: none;
            }
            #menu-check:checked ~ #menu-nav {
                display: block;
            }
            #menu-check:checked {
                display: block;
            }
            #conteiner #menu {
                display: block;
                align-items: center;
                font-size: 1.2em;
                position: absolute;
                border: 3px solid #1DA1F2;
                border-radius: 0.5em;
                right: 0.5em;
                top: 0.5em;
                cursor: pointer;
            }
            #conteiner  #menu-check  {
                display: none;
            }
            #conteiner  #menu:hover {
                color: #fff;
                background-color: #00ff;
                cursor: pointer;
            }
            #conteiner #menu-cerrar {
                display: none;
            }
        }

/*navbar*/
    #navbar #menu {
        display: none;
    }
    #navbar {
        overflow: hidden;
        background-color: #191c32;
        color: #fff;
        position: fixed; 
        top: 0; 
        width: 100%;
        z-index: 1;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: -3.5em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 50px;
    }
    #navbar #menu-nav a{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    #menu-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #menu-nav li{
        list-style: none;
    }
    #menu-nav a{
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    #menu-nav .Inicio{
        color: #0000ff;
    }
    #menu-nav .Inicio a:hover {
        color: #ffee00;
    }
    #menu-nav .habilidades a:hover {
        color: rgb(150, 50, 150);
    }
    #menu-nav .Portafolio a:hover {
        color: #00ff22;
    }
    #menu-nav .Contacto a:hover {
        color: #00ffea;
    }
    .logo img {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 70px;
    }
    @media (max-width: 700px) {
        #navbar  #menu-nav {
            display: none;
        }
    }
/* info-conten */
    #main {
        background-color: #3f4e85 ;
        height: 679px;
        width: 100em;
    }
    #main .info-content {
        height: 679px;
        width: 679px;   
    }
    #main .info-content h1 {
        color: #fff;
        padding: 200px 200px 10px;
        text-align: center;
    }
    #main .info-content .apeidos {
        color: #7fffd4;
    }
    #main .info-content p {
        color: #fff;
        height: 100px;
        left: 130px;
        position: relative;
        top: 50px;
        width: 500px;
    }
    #main .photo img {
        position: relative;
        top: -350px;
        left: 700px;
        width: 300px;
        height: 300px;
        border-radius: 10%;
        margin: 0 auto;
        display: block;
    }
    

 /*my portafolio*/ 
    #abount {
        background-color: #2e3141;   
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 85em;
    }
    #abount .my-portafolio {
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 55em;
    }
    #abount .my-portafolio h2 {
        font-size: 1em;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    #abount .parafo-de-descripción {
        color: #ffffff;
        width: 100%;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 200px;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }

    #conteiner .my-portafolio {
        padding: 3em 0 1em 0;
        margin: 0 auto;
        width: 55em;
    }
    #features {
        flex-wrap: wrap;
        margin: 0 0 2em 0;
        display: flex;
    }
    #features article {
        padding: 1.75em 1.75em 0.1em 1.75em;
        background-color: #353849;
        border-radius: 10px 10px ;
        margin: 1.5em 3em 1.5em 0;
        width: calc(50% - 1.5em);
    }
    #features article:nth-child(2n) {
        margin-right: 0;
    } 
    #features article .image img {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 300px;
    }
    #features article .image {
        border-radius: 5px 5px 0 0;
        display: block;
        margin-bottom: 1.75em;
        margin-left: -1.75em;
        margin-top: -1.75em;
        position: relative;
        width: calc(100% + 3.5em);
    }
    
/*footer*/
    #contenedor-footer .conteiner-redes-sociales {
        text-align: center;
    }
    #contenedor-footer span {
        color: #f1f1f1;
    }
    #contenedor-footer {
        background-color: hsl(210,8%,15%);
        height: 75px;
        width: 100%;
    }
    #contenedor-footer .boton {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 5px 0px;
        background: #3f4e85;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
        overflow: hidden;
    }
    #contenedor-footer .boton .icono{
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
    }
    #contenedor-footer .boton .icono i{
        font-size: 25px;
        line-height: 60px;
    }
    #contenedor-footer .boton span{
        font-size: 20px;
        font-weight: 50px;
        line-height: 60px;
        margin-left: 10px;
    }
    #contenedor-footer .boton:hover{
        width: 200px;
    }
    #contenedor-footer .boton:nth-child(1):hover .icono{
        background: #4267b2;
    }
    #contenedor-footer .boton:nth-child(2):hover .icono{
        background: #1DA1F2;
    }
    #contenedor-footer .boton:nth-child(3):hover .icono{
        background: #128c7e;
    }
    #contenedor-footer .boton:nth-child(4):hover .icono{
        background: #333;
    }
    #contenedor-footer .boton:nth-child(5):hover .icono{
        background: #fd44d5;
    }
    #contenedor-footer .boton:hover .icono i{
        color: #fff;
    }
    